<div
    (click) = "onClick()"
    (mouseenter) = "onMouseEnter()"
   (mouseleave) = "onMouseLeave()" >

    <fa-icon 
        [icon]="faHeart"
        [class.highlighted] ="isActive" 
    >
    </fa-icon> 
    &nbsp;
    <span [class.highlighted] = "isActive" (click) = "onClick()">{{ likesCount }}</span>
</div>

